/*estilos contacto*/
/*titulos*/
/*body*/
/*block-comienzosDelaBanda-*/
/*estilos discos*/ /*titulos*/
/*body*/
/*block-comienzosDelaBanda-*/
/*estilos comienzos de la banda*/
/*titulos*/
/*body*/
/*block-comienzosDelaBanda-*/
/*estilos proximos shows*/
/*titulos*/
/*body*/
/*block-comienzosDelaBanda-*/
/*titulos*/
/*body*/
/*block-comienzosDelaBanda-*/
body {
  width: 100%;
  background-image: url(../img/fondo.jpg);
  width: 100%;
  color: white;
  font-family: "Bahnschrift", sans-serif;
}

.grid {
  display: grid;
  grid-template-areas: "titulo" "navegacion" "lista" "video" "footer";
}

.titulo {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 40px;
  font-family: "Oswald", sans-serif;
  margin: 15px;
}

.lista {
  grid-area: lista;
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.lista .list__section {
  margin-top: 20px;
  display: flex;
  gap: 14%;
  margin-left: 30px;
  justify-content: center;
}
.lista .list__section .list__title {
  list-style: none;
  font-weight: bold;
}
.lista .list__section .list__title .list__options {
  margin: 12px;
  list-style: circle;
  margin-left: 100px;
}
.lista .list__section .list__title .list__options .list__item {
  font-weight: normal;
}

@media (max-width: 576px) {
  .list__section {
    gap: 2%;
    margin-left: -12px;
  }
}
@media (max-width: 776px) {
  .list__section {
    gap: 8%;
    margin-left: 1px;
  }
}
@media (min-width: 992px) {
  .list__section {
    gap: 26%;
    margin-left: 1px;
  }
}
@media (min-width: 768px) {
  .grid {
    grid-area: lista;
  }
  .lista {
    display: flex;
    justify-content: right;
  }
}
.container {
  grid-area: video;
  display: flex;
}
.container iframe {
  max-width: 100%;
}
.container p {
  display: flex;
  width: 400px;
  height: auto;
  margin: 18px;
  padding: 18px;
  border-radius: 12px;
  float: right;
}

.footer-basic {
  padding: 40px 0;
  margin-top: 40px;
  background-color: black;
  color: #4b4c4d;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 2rem;
  min-height: 35vh;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 1.6;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.negrita {
  font-weight: bold;
}

/****GRID FIRST MOBILE CONTACTO****/
#contacto {
  display: grid;
  grid-template-areas: "nav" "cabecera" "formulario" "footer";
}

#cabecera {
  grid-area: cabecera;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  margin-top: 25px;
}

#formulario {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.formulario__inputs {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

.table {
  margin: 30px;
  width: 95%;
  height: auto;
}
.table th {
  color: red;
}
.table td {
  color: white;
}

.fondo-gradiente {
  background: linear-gradient(to top, #2d2d2d, black);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.logo {
  height: 35px;
  width: 35px;
}

.form {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardss {
  display: flex;
  justify-content: center;
}
.cardss .card {
  background-color: #141414;
  border: solid 5px red;
  margin: 20px;
}
.cardss .card img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.cardss .card h5 {
  color: red;
  font-family: red;
}
.cardss .card a {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}

#navbarNavDropdown {
  margin-right: 20px;
  justify-content: flex-start;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  color: red;
  margin-top: -6px;
}

.bg-light {
  background-color: black !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/navvv.png);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: red;
}

.block {
  height: 480px;
  width: auto;
  color: black;
  margin: 15px auto;
  padding: 18px;
  border-radius: 12px;
  font-size: "Bahnschrift", sans-serif;
}

.block__description {
  height: 480px;
  width: auto;
  width: 480px;
  height: auto;
  margin: 15px auto;
  padding: 18px;
  border-radius: 12px;
  background-color: rgba(42, 42, 238, 0.418);
}

@media (max-width: 767px) {
  .block {
    display: block;
    height: auto;
    width: auto;
  }
  .block__description {
    display: flex;
    width: auto;
    height: auto;
  }
}
.btnn, .btnn .btn-enviar, .btnn .btn-borrar {
  border-radius: 0.25rem;
  font-family: "Bahnschrift";
  color: black;
  font-size: 15px;
  text-decoration: none;
  background: transparent;
}
.btnn .btn-borrar {
  color: #dc3545;
  border-color: #dc3545;
}
.btnn .btn-borrar .btn-borrar:hover {
  background-color: #dc3545;
}
.btnn .btn-enviar {
  color: #198754;
  border-color: #198754;
}
.btnn .btn-enviar .btn-enviar:hover {
  background-color: #198754;
}

.imagen-comienzo {
  text-align: center;
}
.imagen-comienzo img {
  width: 45%;
  border-radius: 12px;
}
.imagen-comienzo p {
  display: flex;
  margin: 20px;
  width: auto;
  height: auto;
}

.banda {
  display: flex;
  justify-content: center;
}
.banda div {
  margin: 15px;
  background: transparent;
}
.banda div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 150px;
  width: 150px;
}
.banda div p {
  margin: 10px;
  text-align: center;
}

#carouselExampleSlidesOnly img {
  width: auto;
  height: 500px;
}

.btn-primary {
  color: #fff;
  background-color: #d60202;
  border-color: #ff0000;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #d60202;
}

#kiko-slider {
  font-family: sans-serif;
  margin: auto;
  background-color: white;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

#kiko-slider > ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#kiko-slider > ul.slider {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 300px;
}

#kiko-slider > ul.slider h1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
}

#kiko-slider > ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background: #fff;
}

#kiko-slider > ul.slider li img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#kiko-slider > ul.slider li:first-child {
  opacity: 1;
  /*Mostramos el primer <li>*/
}

#kiko-slider > ul.slider li:target {
  opacity: 1;
  /*Mostramos el <li> del enlace que pulsemos*/
}

#kiko-slider > .menu {
  text-align: center;
  margin: 20px;
}

#kiko-slider > .menu li {
  display: inline-block;
  text-align: center;
}

#kiko-slider > .menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

/*# sourceMappingURL=styles.css.map */
