$color-letras:black ;

/*titulos*/ 
$color-titulos:red ;
$tamaño-titulos:40px;
$margen-titulos:15px;
$fuente-titulos:'Oswald', sans-serif;

/*body*/ 
$fuente-principal:"Bahnschrift", sans-serif;


/*block-comienzosDelaBanda-*/ 
$background-block:rgba(42, 42, 238, 0.418);


